@font-face {
    font-family: "Open Sans";
    src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf")
}
body {background-color: #000000;}
body, nav {display: grid;}
a, button, p, h1, h2, section, span, nav, label, input {
    font-family: "Open Sans";
    color: #0f0;
}
#settings-div {display: none;}
@media (orientation:landscape) {
    a, p, h1, section, span, h2, nav, button, label {font-size: 2vw;}
}
@media (orientation:portrait) {
    a, p, h1, section, span, h2, nav, button, label {font-size: 3vh;}
}

nav, button, div * {width: fit-content;}
nav::before {
    content: "\a";
    white-space: pre;
}
nav::after {
    content: "\a";
    white-space: pre;
}
input {
    border-radius: 0.5vw;
    border-color: #0f0;
    background-color: #000;
}

button {border: 0; background-color: transparent;}

a:link, a:visited {color: #0f0;}
#brief-description {white-space: pre;}
/* TEMPORARY CODE */
#entertainment:link {color: #c70c0c;}
#entertainment:visited {color: #b30c0c;}
/* TEMORARY CODE */

#settings {
    border: 0;
    padding: 0;
    background-color: transparent;
    text-decoration: underline;
}
a:hover, button:hover {
    font-weight: bolder;
    filter: brightness(150%);
}